
@{
    ViewData["Title"] = "Info";
}

<div class="text-center">
    <h1>Info</h1>
</div>
<div class="text-center">
    <a class="text-center nav-link" href="http://www.calvarychapelcottagegrove.com">CCCG Website</a>
    <a class="text-center nav-link" href="http://www.starcraft2.com">StarCraft 2 Website</a>
</div>


